{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Calories</title>
    <link rel="stylesheet" href="{% static 'nutrition/css/styles.css' %}">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
</head>
<body>

    <div class="container mx-auto p-4">
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out '{{ user.get_username }}'</li></button>
    </form>
    </div>

    <div class="container mx-auto p-4">
        <!-- Tab Navigation -->
        <div role="tablist" class="tabs tabs-lifted">
            <input
                type="radio"
                name="view_tabs"
                role="tab"
                class="tab"
                aria-label="Calendar"
                checked="checked" />

            <div role="tabpanel" class="tab-content">
                {% include 'nutrition/days-calendar.html' %}
            </div>

            <input
                type="radio"
                name="view_tabs"
                role="tab"
                class="tab"
                aria-label="Table" />

            <div role="tabpanel" class="tab-content hidden">
                {% include 'nutrition/days-table.html' %}
            </div>
        </div>
    </div>

</body>
</html>