{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Calories</title>
    <link rel="stylesheet" href="{% static 'nutrition/css/styles.css' %}">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
</head>
<body>
    {% include 'nutrition/days-calendar.html' %}
    <!-- {% include 'nutrition/days-table.html' %} -->
</body>
</html>