<table class="table w-full mt-2">
    <thead>
        <tr>
            <th class="px-4 py-2">Food</th>
            <th class="px-4 py-2">Quantity</th>
            <th class="px-4 py-2">Calories</th>
        </tr>
    </thead>
    <tbody>
        {% for p in portions %}
        <tr>
            <td class="px-4 py-2">{{ p.food.name }}</td>
            <td class="px-4 py-2">{{ p.quantity }}</td>
            <td class="px-4 py-2">{{ p.calories }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>